# En este archivo se deben especificar las credenciales para el bot de Discord.
#
# TOKEN: El token del bot, que se puede obtener en la página de desarrolladores de Discord.
# BOT_ID: El ID del bot, que se puede obtener en la página de desarrolladores de Discord.
# GUILD_ID: El ID del servidor al que se quiere que el bot se una. Puedes obtener este ID en la página de desarrolladores de Discord, en la sección "Servers".

TOKEN=
BOT_ID=
GUILD_ID=
